@import "tailwindcss";

:root {
  --color-bg: #121212;
  --color-surface: #1E1E1E;
  
  --color-text-primary: #E5E5E5;
  --color-text-secondary: #9CA3AF;
  
  --color-accent: #6EE7B7;
  
  --color-border: #2C2C2C;
}

html.dark {
  --color-bg: #121212;
  --color-surface: #1E1E1E;
  --color-text-primary: #E5E5E5;
  --color-text-secondary: #9CA3AF;
  --color-accent: #6EE7B7;
  --color-border: #2C2C2C;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}
