@import "tailwindcss";

:root {
  --color-bg: #08090A;
  --color-surface: #141516;
  --color-text-primary: #E5E5E5;
  --color-text-secondary: #757A82;
  --color-accent: #E5E5E5;
  --color-btn-hover: #1D1D1E;
  --color-border: #151617;
}

html.dark {
  --color-bg: #08090A;
  --color-surface: #141516;
  --color-text-primary: #E5E5E5;
  --color-text-secondary: #757A82;
  --color-accent: #E5E5E5;
  --color-btn-hover: #1D1D1E;
  --color-border: #151617;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}
